.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.user--info {
    display: flex;
    align-items: center;
    background-color: transparent !important;
}
.custom-dropdown-btn {
    background-color: transparent !important; /* Set background to transparent */
    border: none !important; /* Remove border */
    color: #000 !important; /* Set text color */
}

.custom-dropdown-btn:hover {
    background-color: transparent !important; /* Set background to transparent on hover */
}

.dropdown img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 5px;
}
